body {
    margin: 0;
}
.modal {
    position: fixed;
    z-index: 11;
    display: none;
}
.modal.open {
    display: flex;
}
.modal-t {
    position: fixed;
    z-index: 11;
    height: 91%;
    top: 0;
    margin: 20px;
    background-color: #4A0F60;
    width: 96%;
    display: none;
}
.zenzone {
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.sky {
    height: 50%;
    width: 100%;
    animation: colorchange 1000s; 
    -webkit-animation: colorchange 1000s; 
}
.earth {
    background-color: #6DD5A5;
    height: 50%;
    width: 100%;
}
.tent {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 650px;
    cursor: pointer;
    z-index: 2;
}
.water {
    position: absolute;
    width: 1123px;
    z-index: 1;
    
}
.cloud {
    position: absolute;
    top: 50px;
    left: 400px;
    width: 413px;
    cursor: pointer;
    z-index: 5;
}
.sun {
    z-index: 5;
    position: absolute;
    right: 50px;
    top: 50px;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}
.sun:hover {
    transform: scale(1.1, 1.1) ;
}
.bird {
    cursor: pointer;
    position: absolute;
    width: 200px;
    top: 200px;
    left: 40px;
    z-index: 5;
}

.draggable { 
    position: absolute;
}
.breath {
  
}
.breathing-top {
    width: 100px;
    z-index: 2;
    position: absolute;
    right: 500px;
    top: 314px;
}
.breathing {
    position: absolute;
    right: 500px;
    top: 314px;
    width: 100px;
}


@keyframes colorchange
    {
      0%   {background: #86A0A2;}
      25%  {background: rgb(241, 241, 132);}
      50%  {background: rgb(172, 172, 241);}
      75%  {background: rgb(231, 144, 73);}
      100% {background: rgb(202, 104, 173);}
    }